.popup-body-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .popup-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .popup-prof {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .popup-but {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .but {
      padding: 0.5rem 2rem;
      background: red;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 1rem;
    }
    .submit {
      background: blue;
    }
  }
}
