.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: 2px solid #000;
  border-radius: 1rem !important;
  min-width: 30rem;
  min-height: 20rem;

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .popup-body {
    padding: 1.5rem;
  }
}
